body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
}
.web-color {
  color: #4d5ae5;
  background-color: white;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
  font-style: 'Roboto', sans-serif;
}
.studio {
  color: #2e2f42;
  background-color: white;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
  font-style: 'Roboto', sans-serif;
}
.button {
  font-weight: 500;
  font-size: 1;
  width: 1.313;
  height: 1.5;
  color: #4d5ae5;
  background-color: #e7e9fc;
}
.menu {
  color: #2e2f42;
  background-color: white;
  font-weight: 500;
  font-size: 1;
  line-height: 2;
}
.img-title {
  color: #2e2f42;
  background-color: white;
  font-weight: 500;
  font-size: 1.25;
  line-height: 1.5;
  width: 18.125;
  height: 1.5;
}
.img-description {
  color: #434455;
  background-color: white;
  font-weight: 400;
  font-size: 1;
  line-height: 1.5;
  width: 1.875;
  height: 1.5;
}
.logo-footer-web {
  color: #4d5ae5;
  background-color: #2e2f42;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
}
.logo-footer-studio {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
  font-style: 'Roboto', sans-serif;
}
.logo-text {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 1;
  line-height: 1.5;
  font-style: 'Roboto', sans-serif;
}
a:hover {
  color: gray;
}
.button:hover {
  color: black;
}
