body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#conteiner
{
  width: 100%;
}
h1
{
  margin: 0;
}
.logo-top {
margin-top: 25.5px;
margin-left: 156px;
}
.logo-web {
  color: #4D5AE5;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 44px;
  height: 21px;
}
.logo-studio {
  color: #2E2F42;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 71px;
  height: 21px;
}
.menu-links {
margin-left: 347px;
margin-top: 25.5px;
}
.menu-link {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-right: 40px;
}
.contacts-position {
 margin-top: 25.5px;
 float: right;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-right: 40px;
}
.page-title {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin: 0px;
  position: relative;
  left: 472px;
  top: 188px;
  right: 472px;
  bottom: 292px;
}
.order-service-btn-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background: #4D5AE5; 
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 636px;
  top: 256px;
  right: 635px;
  bottom: 188px;
  position: relative;
  border-top: 4px;
  border-left: 4px;
}
button:hover
{
  background-color: ;
}
.feature {
  margin-top: 120px;
  margin-left: 156px;
}
.sub-title {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding-right: 24px;
}
.description {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-right: 24px;

}
.title-what-are-we-doing {
  color: v#2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;

}
.images-what-are-we-doing-position
{
margin-left: 156px;
position: relative
}
.images-what-are-we-doing {
  width: 360px;
  height: 300px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
  display: inline-block;
}
.title-our-team
{
  color: v#2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
  margin-left: 639px;
}
.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px; 
  border-radius: 0px 0px 4px 4px;
  background: white;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  margin-top: 24px;
  margin: 24px;
  padding-bottom: 32px;
}
.team-img {
  width: 264px;
  height: 260px;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.team-describtion-box {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.team-names {
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.job-title {
  color: #2E2F42;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer-logo {
  width: 264px;
  height: 72px;
  margin-top: 2420px;
  margin-right: auto;
  margin-bottom: auto;
}
.footer-logo-web {
  color:#4D5AE5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 44px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  float: left;
  margin-left: 156px;
  padding-top: 101.5px;
}
.footer-logo-studio {
  color: #F4F4FD;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  padding-top: 101.5px;
}
.footer-text {
  color: #F4F4FD;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  margin-left: 156px;
}
.conteiner-1 {
  height: 72px;
  flex-shrink: 0;
  border-bottom: 1px solid #E7E9FC;
  background: white;
}
.conteiner-2 {
  height: 600px;
  flex-shrink: 0;
  background: #2E2F42;
}
.conteiner-3 {
  height: 2592px;
  background: white;
}
.conteiner-4 {
  height: 732px;
  flex-shrink: 0;
  background: #F4F4FD;
}
.conteiner-5 {
  height: 312px;
  flex-shrink: 0;
  background: #2E2F42;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
a:hover {
  color: #4D5AE5;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
.button-portfolio
{
  color:#4D5AE5;
  background: ;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  align-items: flex-start;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #E7E9FC;
  margin-right: 24px;
}
.img-portfolio
{
  width: 360px;
  height: 300px;
  margin-right: 24px;
  margin-top: 84px;
}
.img-title-description-box
{
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  border-top: 32px;
  border-bottom: 32px;
}
.portfolio-img-title
{
  color:#2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-top: 32px;
}
.portfolio-img-description
{
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
