body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  text-decoration: none;
  max-width: 100%;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  display: block;
}
h1
{
  margin: 0;
}
.logo-web {
  color: #4D5AE5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 44px;
  height: 21px;
}
.logo-studio {
  color: #2E2F42;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 71px;
  height: 21px;
}
.menu-link {
  color: #2E2F42;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contacts {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.page-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin: 0px;
}
.order-service-btn-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background: #4D5AE5; 
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
button-index:hover
{
  background-color: #E7E9FC;
  color: #4D5AE5;
  cursor: pointer;
}
.sub-title {
  color: #2E2F42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding-right: 24px;
}
.description {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-right: 24px;

}
.title-what-are-we-doing {
  color:#2E2F42;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.images-what-are-we-doing {
  width: 360px;
  height: 300px;
  margin-right: 24px;
  margin-top: 72px;
  margin-bottom: 120px;
  display: inline-block;
}
.title-our-team
{
  color: #2E2F42;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.team-card {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px; 
  border-radius: 0px 0px 4px 4px;
  background: white;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  margin-top: 24px;
  margin: 24px;
  padding-bottom: 32px;
}
.team-img {
  width: 264px;
  height: 260px;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.team-names {
  color: #2E2F42;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.job-title {
  color: #2E2F42;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer-logo-web {
  color:#4D5AE5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 44px;
  height: 21px;
}
.footer-logo-studio {
  color: #F4F4FD;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  width: 71px;
  height: 21px;
}
.footer-text {
  color: #F4F4FD;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.conteiner-1 {
  height: 72px;
  border-bottom: 1px solid #E7E9FC;
}
.conteiner-2 {
  height: 600px;
  background-color: #2E2F42;

}
.conteiner-3 {
  height: 2592px;
  background: white;
}
.conteiner-4 {
  height: 732px;
  background: #F4F4FD;
}
.conteiner-5 {
  height: 312px;
  background: #2E2F42;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
a:hover {
  color: #4D5AE5;
  cursor: pointer;
}
.button-portfolio-position
{
  
}
.button-portfolio
{
  color: #4D5AE5;
  background: #E7E9FC; 
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  align-items: flex-start;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #E7E9FC;
  margin-right: 24px;
}
.button-portfolio:hover
{
  color: white;
  background: #404BBF;
}
.img-portfolio-position
{
margin-top: 84px;
padding: 0;
}
.img-portfolio
{
  width: 360px;
  height: 300px;
  margin-right: 24px;
  margin-top: 84px;
}
.img-title-description-box
{
  padding: 0px 16px;
  justify-content: center;
  gap: 8px;
  border-top: 32px;
  border-bottom: 32px;
}
.portfolio-img-title
{
  color:#2E2F42;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-top: 32px;
}
.portfolio-img-description
{
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.conteiner-portfolio-1
{
height: 72px;
border-bottom: 1px solid #E7E9FC;
}
.conteiner-portfolio-2
{
height: 2076px;
}
.cointeiner-portfolio-3
{
  height: 312px;
  background: #2E2F42;
}