body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding: 1rem;
}
#logo {
  width: 1440px;
  height: 72px;
  background-color: white;
  text-decoration: none;
}
.contacts {
  color: #434455;
  text-decoration: none;
}
.logo-web-color {
  color: #4d5ae5;
  background-color: white;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
  text-decoration: none;
}
.logo-studio-color {
  color: #2e2f42;
  background-color: white;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
  text-decoration: none;
}
.menu-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-size: 1;
  color: #4d5ae5;
  box-shadow: rgba(0, 0, 0, 0.15);
  background-color: #e7e9fc;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.menu {
  color: #2e2f42;
  background-color: white;
  font-weight: 500;
  font-size: 1;
  line-height: 2;
  text-decoration: none;
}
.img-title {
  color: #2e2f42;
  background-color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.img-description {
  color: #434455;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#logo-web-footer {
  color: #4d5ae5;
  background-color: #2e2f42;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
  text-decoration: none;
}
#logo-studio-footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-weight: 800;
  font-size: 1.125;
  line-height: 1.313;
}
#footer-text {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 1;
  line-height: 1.5;
}
a:hover {
  color: #4d5ae5;
}
.button-index.html {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}
#footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 1764px;
}
#button-order-service {
  font-style: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: white;
  cursor: pointer;
}
#h1 {
  table-layout: 496px, 120px, 260px, 472px;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: white;
  text-align: center;
}
.button-properties {
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  padding: 16px, 32px, 16px, 32px;
  background-color: #4d5ae5;
}
.h1-and-button {
  width: 1440px;
  height: 600px;
  top: 72px;
  background-color: #2e2f42;
}
.phrase {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
.phrase-describtion {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}
